

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: #202f00;
}
  
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.video-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

